/* ---------- FONT ---------- */
@font-face {
    font-family: 'SharpGroteskMedium';
    src: url('../font/SharpGroteskMedium20.otf') format('truetype');
}
@font-face {
    font-family: 'SharpGroteskSmBold';
    src: url('../font/SharpGroteskSmBold20.otf') format('truetype');
}

/* ---------- COMMON ---------- */
html {font-size: 10px;}
body {font-size: 100%; background-color: rgba(18, 210, 148, .3); font-family: 'Roboto', sans-serif; }
img {width: 100%; vertical-align: top;}
a {text-decoration: none;}
.container {position: relative; width: 1170px; padding: 0 15px; margin: 0 auto; box-sizing: border-box;}
.cont-tit {font-size: 3rem; font-weight: bold; text-align: center;}
.cont-tit span {position: relative;}
.cont-tit span::after {content: ""; position: absolute; left: 0; bottom: -3px; height: 3px; width: 100%; background-color: #12D294;}
.cont-sub-tit {font-size: 2.4rem; text-align: center; margin: 1.6rem 0 1rem; animation-delay: .2s;}
.cont-desc {font-size: 1.6rem; text-align: center; font-weight: normal; animation-delay: .4s;}
.ml10 {margin-left: 17%;}

/* ---------- MAIn ---------- */
.main {position: relative; height: 100vh; background-image: url(../images/main_line.png); background-repeat: no-repeat; background-size: 100%;background-position: 0 75%;
}
.main .container {height: 100vh;}
.main .content {position: absolute; bottom: 8%; left: 0; right: 0; display: flex; align-items: flex-end; justify-content: space-around; transition: all .3s;}
.content-imgbox.left,
.content-imgbox.right {position: relative; cursor: pointer; transition: all .3s; }
.content-imgbox.left .left-img-01 {width: 41.3rem; padding-top: 3.5rem;}
.etc-img {position: absolute; opacity: 0; transition: all .4s;}
.content-imgbox.left .cloud_01 {width: 9.7rem; left: 47%; top: -5%; }
.content-imgbox.left .cloud_02 {width: 8rem; left: 0; top: 23%;}
.content-imgbox.left .airplane {width: 9rem; left: 20%; top: 0;}
.content-imgbox.left .click-me {right: 10%;}

.content-imgbox.right .right-img-01 {width: 34.2rem; padding-top: 3.5rem;}
.content-imgbox.right .cloud_01 {width: 12.9rem; left:-40%; top: 30%; }
.content-imgbox.right .cloud_02 {width: 8rem; right: 0; top: 20%; }
.content-imgbox.right .click-me {left: -10%; top: 17%;}


.click-me {position: absolute; font-size: 2rem; color: #fff; opacity: 0.5; transition-duration: .3s;}
.arrow-box {opacity: 0; margin-top: 2rem; text-align: center; transition-duration: .3s;}
.arrow-box span  {font-size: 3rem;font-weight: bold;color: #12D294;}
.arrow-box img  {width: 6.6rem;}
.download {font-size: 2rem; font-weight: bold; color: #12D294; position: absolute; right: 0;top: 17rem; text-decoration: none; transform:rotate(-90deg) ;}
.download::before {content: ""; display: block; position: absolute; top: 50%; right: calc(100% + 12px); transform:translateY(-50%) ;
width: 66px;height: 3px; background-color: #12D294;}
.content_left,
.content_right {transition: all .2s ease-out;}


.content-pop {position: fixed; width: 1400px; height: 1400px; top: 50%; transform: translateY(-50%); transition: all .3s; }
.content-pop.left { right: 0; bottom: 0; transition: all .2s; left: 100%; }
.content-pop.left.active {left: 50%;}
.content-pop.right {bottom: 0; transition: all .2s; right: 100%;}
.content-pop.right.active {right: 50%;}
.pop-circle {width: 100%; height: 100%; background: #fff; border-radius: 50%; }
.content-pop .pop-text {position: absolute; top: 40%; }
.content-pop.left .pop-text {position: absolute; left: 15%; }
.content-pop.right .pop-text {right: 10%;}
.content-pop .pop-text h3 {font-size: 3rem; font-weight: normal; }
.content-pop .pop-text h2 {font-size: 5rem; font-weight: bold; margin-top: 20px;}
.content-pop .pop-text p {font-size: 1.8rem; margin-top: 4.2rem; line-height: 24px;}
.content-pop .pop-text .more {display: flex; align-items: baseline; margin-top: 4.3rem;}
.content-pop .pop-text .more span {color: #12D294; font-size: 1.8rem; margin-right: 2.3rem;}
.content-pop .pop-text .more img {width: 6.6rem;}
.content-pop .pop-close {position: absolute; right: 10%; top: 10%; font-size: 1.6rem; color: #12D294;  }

/* active */
.content_left.active {transform: scale(1.1);}
.content_left.active .content-imgbox.left {transform: translateX(-10%);}
.content_left.active .etc-img {opacity: 1;}
.content_right.active {transform: scale(1.1);}
.content_right.active .content-imgbox.right {transform: translateX(10%);}
.content_right.active .etc-img {opacity: 1;}

.content_left:hover,
.content_right:hover {
    transform: scale(1.1);
}
.content_left:hover .click-me {
    opacity: 1;
}
.content_right:hover .click-me {
    opacity: 1;
}
.content_left:hover .arrow-box {
    opacity: 1;
}
.content_right:hover .arrow-box {
   opacity: 1;
}

@media screen and (max-width: 1500px) {
    .content-pop {width: 1200px; height: 1200px;}
}

@media screen and (max-width: 1200px) {
    .container {width: 100%; padding: 0 30px; }
    .content-imgbox.left .left-img-01 {width: 35rem;}
    .content-imgbox.right .right-img-01 {width: 30.2rem;}
    .content-pop {width: 1100px; height: 1100px;}
    .content-pop .pop-text h3 {font-size: 2.2rem;}
    .content-pop .pop-text h2 {font-size: 3.5rem;}
    .content-pop .pop-text p {font-size: 1.4rem; margin-top: 2rem;}
    
    .content-pop.right .pop-text {right: 5%;}


}
@media screen and (max-width: 992px) {
    .content-imgbox.left .left-img-01 {width: 30rem;}
    .content-imgbox.right .right-img-01 {width: 25.2rem;}
    .content-pop .pop-text .more span {font-size: 1.6rem;}
    .content-pop .pop-text .more img {width: 4.4rem;}
    .content-pop {width: 900px; height: 900px;}

    .content-pop.right .pop-text {right: 0%;}


}
@media screen and (max-width: 768px) {
    .click-me { font-size: 1.6rem;}
    .content-imgbox.left .click-me {right: 25%;}
    .content-imgbox.right .click-me { left: 25%; }
    .main {background-position: 0 50%;}
    .main .content {position: static; flex-wrap: wrap; align-items: center; width: 70%; margin: 0 auto; height: 100%;}
    .main .content .content-box {width: 100%; margin-top: 40px;}
    .content-imgbox.left,
    .content-imgbox.right {display: block; text-align: center;}
    .content-imgbox.left .left-img-01 {width: 38%;}
    .content-imgbox.right .right-img-01 {width: 38%;}
    .arrow-box span  {font-size: 1.6rem;}
    .arrow-box img  {width: 2.6rem; vertical-align: baseline;}

    .content-pop {width: 350px; height: 350px; z-index: -1;}
    .content-pop.left {top: 25%;}
    .content-pop.left .pop-text {left: 25%; top: 35%;}
    .content-pop.right {top: 73%;}
    .content-pop .pop-text h3 {font-size: 1.6rem;}
    .content-pop .pop-text h2 {font-size: 1.8rem; margin-top: 10px;}
    .content-pop .pop-text p {display: none;}
    .content-pop .pop-text .more {margin-top: 20px;}
    .content-pop .pop-text .more span {display: none;}
    .content-pop .pop-text .more img {width: 36px;}

    .content-imgbox.left .cloud_01 {width: 4.7rem; left: 47%; top: 0%; }
    .content-imgbox.left .cloud_02 {width: 6rem; left: 20%; top: 23%;}
    .content-imgbox.left .airplane {width: 5rem; left: 30%; top: 5%;}

    .content-imgbox.right .cloud_01 {width: 12.9rem; left:-40%; top: 30%; }
    .content-imgbox.right .cloud_02 {width: 8rem; right: 0; top: 20%; }


@media screen and (max-width: 660px) {
    .content-imgbox.left .left-img-01 {width: 55%;}
    .content-imgbox.right .right-img-01 {width: 55%;}   
    .content-pop {width: 300px; height: 300px; z-index: -1;}
    .content-pop.left.active { left: 45%;}
    .content_left.active .content-imgbox.left {transform: translateX(-20%);}
    .content_right.active .content-imgbox.right {transform: translateX(20%);}

}
@media screen and (max-width: 480px) {
    .container {width: 100%; padding: 0 15px; }
    .content-imgbox.left .left-img-01 {width: 70%;}
    .content-imgbox.right .right-img-01 {width: 70%;} 
    .content-pop {width: 250px; height: 250px; }
    .content-pop.left .pop-text {left: 30%; top: 30%;}
    .content-pop .pop-text h3 {font-size: 1rem;}
    .content-pop .pop-text h2 {font-size: 1.6rem; margin-top: 10px;}
    .arrow-box span  {font-size: 1.4rem;}
    .arrow-box img  {width: 2rem; vertical-align: baseline;}
    .content-pop .pop-text .more {margin-top: 20px;}
    .content-pop .pop-text .more span {font-size: 14px; margin-right: 1rem;}
    .content-pop .pop-text .more img {width: 30px;}

    /* .content_left.active .content-imgbox.left {transform: translateX(-20%);} */

}

/* ---------- DOWNLOAD ---------- */
#download {}
#download .container {display: flex; height: 100vh; justify-content: center; align-items: center;}
#download .content-box {text-align: center;}
#download .content-box h3 {font-size: 5rem; line-height: 6.4rem; color: #626262;}
#download .content-box h2 {font-size: 5rem; font-weight: bold; line-height: 6.4rem; color: #12D294; margin-bottom: 5rem;}
#download .content-box p {font-size: 1.8rem; font-weight: bold; margin-top: 3.2rem; margin-bottom: 1rem;}
#download .content-box p:first-child {margin-top: 0;}
#download .content-box .btn-wrap {display: flex; justify-content: center;}

#download .content-box .btn-wrap a {display: flex; align-items: center; width: 14.5rem; height: 5.4rem; background-color: #12D294; color: #000; text-align: left; border-radius: 5.4rem;}
#download .content-box .btn-wrap a:first-child {margin-right: 2rem;}
#download .content-box .btn-wrap a div {display: flex; justify-content: center; align-items: center; width: 13.3rem; height: 5rem; background: #fff ; border-radius: 5rem;}
#download .content-box .btn-wrap a.align-right {justify-content: flex-end; padding-right: 0.2rem;}
#download .content-box .btn-wrap a.align-left {justify-content: flex-start; padding-left: 0.2rem;}
#download .content-box .btn-wrap a div span {display: flex; align-items: center;}
#download .content-box .btn-wrap a div i {display: block; margin-right: 10px;}
#download .content-box .btn-wrap a div i.google-play {width: 24px; height: 26px; background: url(../images/google_play.png) no-repeat left top; background-size: cover;}
#download .content-box .btn-wrap a div i.app-store {width: 24px; height: 29px; background: url(../images/App_store_ico.png) no-repeat left top; background-size: cover;}

/* @media screen and (max-width: 768px) {
    html {font-size: 6.66px;}
} */
@media screen and (max-width: 768px) {
    #download .content-box h3 {font-size: 3rem;}
    #download .content-box h2 {font-size: 2.4rem; line-height: 2rem;}
}
@media screen and (max-width: 480px) {
    #download .content-box h3 {font-size: 2.4rem;}
    #download .content-box h2 {font-size: 2rem; line-height: 2rem;}
    #download .content-box .link-box > div {display: flex; justify-content: center; flex-wrap: wrap;}
    #download .content-box .btn-wrap {flex-wrap: wrap;}
    #download .content-box .btn-wrap > div {display: flex; justify-content: center; width: 100%; margin-bottom: 2rem;}
}

/* ---------- TRAVELER ---------- */
.visual {position: relative; height: 745px; overflow: hidden; }
.visual .container {height: 100%;}
.visual .visual-image {position: absolute; max-width: 600px; right: 0; top: 0; animation-duration: .4s; animation-delay: .6s; animation-timing-function: ease-in; }
.visual .visual-image img {width: 100%;}
.visual .visual-title {position: absolute; left: 10%; top: 35%; animation-timing-function: ease-in; animation-duration: .4s;}
.visual .visual-title h2 {font-size: 3rem; font-weight: bold; line-height: 39px;}
.visual .visual-title h3 {font-size: 2.7rem; font-weight: 400; line-height: 35px;}
.visual .visual-link {position: absolute; left: 10%; top: 50%; animation-delay: .4s; animation-timing-function: ease-in; animation-duration: .3s;}
.visual .visual-link em {font-size: 1.8rem; font-weight: bold;}
.visual .visual-link p {margin-top: 1rem;}
.visual .visual-link p a {display: inline-block; width: 18.2rem; height: 4.2rem; border: 1px solid #ccc; border-radius: 3rem; font-size: 1.5rem; color: #000; line-height: 4.2rem; text-align: center; margin-right: 3rem; background-color: #fff; transition: .4s;}
.visual .visual-link p a:hover {background-color:#12D294; color: #fff; border-color: transparent;}
 
.whatWeOffer {padding-top: 100px;}
.whatWeOffer .offer_content {margin-top: 5rem;}
.whatWeOffer .offer_content .row {display: flex; margin-bottom: 4rem;}
.whatWeOffer .offer_content .row:last-child {margin-bottom: 0;}
.whatWeOffer .offer_content .row .content-item {flex-basis: 25%; max-width: 25%; padding: 0 58px; cursor: pointer;}
.whatWeOffer .offer_content .row .content-item:first-child {padding-left: 0;}
.whatWeOffer .offer_content .row .content-item:last-child {padding-right: 0;}
.whatWeOffer .offer_content .row .content-item > div {position: relative; overflow: hidden; background: #D5FFF177; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 180px; height: 180px; border-radius: 50%; box-sizing: border-box; text-align: center;}
.whatWeOffer .offer_content .row .content-item > div:hover .bg {opacity: 1;}
.whatWeOffer .offer_content .row .content-item .bg {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center; background-color: #12D294; color: #fff; font-size: 1.6rem; opacity: 0; transition: all .4s;}
.whatWeOffer .offer_content .row .content-item img {width: 6.6rem; margin-bottom: 2rem;}
.whatWeOffer .offer_content .row .content-item p {font-size: 1.2rem; color: #12D294;}

.weCanDo {padding: 70px 0 70px; position: relative;}
.weCanDo .weCanDo-image {position: absolute; left: 0; bottom: 0;}
.weCanDo .weCanDo-image {width: 65%;}
.weCanDo .weCanDo-content {display: flex; justify-content: flex-end;  margin-top: 4.3rem}
.weCanDo .weCanDo-content .weCanDo-list {position: relative; max-width: 600px; height: 550px; background: #fff; padding: 86px 110px; box-sizing: border-box; box-shadow: 30px 30px 99px #00000029;}
.weCanDo .weCanDo-content .weCanDo-list::before {content: ""; position: absolute; left: 10%; top: 10%; width: 28px; height: 19px; background: url(../images/comma_ico_01.png) no-repeat center; background-size: cover; }
.weCanDo .weCanDo-content .weCanDo-list::after {content: ""; position: absolute; right: 10%; bottom: 10%; width: 28px; height: 19px; background: url(../images/comma_ico_02.png) no-repeat center; background-size: cover; }
.weCanDo .weCanDo-content .weCanDo-list li {margin-bottom: 96px;}
.weCanDo .weCanDo-content .weCanDo-list li:last-child {margin-bottom: 0;}
.weCanDo .weCanDo-content .weCanDo-list li em {font-size: 1.5rem; font-weight: bold; display: block; margin-bottom: 1rem;}
.weCanDo .weCanDo-content .weCanDo-list li p {font-size: 1.2rem; color: #999;}

@media screen and (max-width: 1200px) {
    .whatWeOffer .offer_content .row {flex-wrap: wrap; justify-content: space-evenly; margin: 0; padding: 0 130px;}
    .whatWeOffer .offer_content .row .content-item {display: flex; justify-content: center; flex-basis: 50%; max-width: 50%; padding: 0; margin-bottom: 20px;}
    .weCanDo .weCanDo-content {justify-content: center;}

}
@media screen and (max-width: 768px) {
    .visual .visual-image {width: 90%;}  
    .visual .visual-link em {font-size: 1.6rem;}
    .whatWeOffer .offer_content .row {padding: 0;}
}
@media screen and (max-width: 480px) {
    .cont-tit {font-size: 2.5rem; font-weight: bold; text-align: center;}
    .cont-sub-tit {font-size: 1.4rem; text-align: center; margin: 1.6rem 0 1rem; }
    .cont-desc {font-size: 1.2rem; text-align: center;}

    .visual {height: 100vh;}
    .visual .visual-title {top: 10%;}
    .visual .visual-title h2 {font-size: 2.5rem; font-family: "SharpGroteskSmBold";}
    .visual .visual-title h3 {font-size: 2.0rem;}
    .visual .visual-link {top: 80%; left: 0; right: 0; text-align: center; transition: all .4s;}

    .visual .visual-link em {display: block; width: 100%; text-align: center;}
    .visual .visual-link p {padding: 0 30px;}
    .visual .visual-link p a {margin: 0; width: 100%; margin-bottom: 10px;}

    .whatWeOffer {padding-top: 30px;}
    .whatWeOffer .offer_content .row .content-item > div {width: 120px; height: 120px;}
    .whatWeOffer .offer_content .row .content-item img {width: 40px; margin-bottom: 2rem;}
    .whatWeOffer .offer_content .row .content-item p {font-size: 6px;}

    .weCanDo .weCanDo-content .weCanDo-list { background: #fff; padding: 60px 43px; height: 450px;}
    .weCanDo .weCanDo-content .weCanDo-list::before {width: 17px; height: 14px; left: 5%; top: 7%;}
    .weCanDo .weCanDo-content .weCanDo-list::after {width: 17px; height: 14px; right: 5%; bottom: 7%;}
    .weCanDo .weCanDo-content .weCanDo-list li {margin-bottom: 50px; text-align: center;}
    .weCanDo .weCanDo-content .weCanDo-list li:last-child {margin-bottom: 0;}
    .weCanDo .weCanDo-content .weCanDo-list li em {font-size: 1.5rem; font-weight: bold; display: block; margin-bottom: 1rem;}
    .weCanDo .weCanDo-content .weCanDo-list li p {font-size: 1.2rem; color: #999;}
}
/* ---------- VUTLER ---------- */

#vutler-visual.visual .visual-image {max-width: 435px;}

.advantages {margin-top: -250px;}
.advantages_content .content-box {display: flex; }
.advantages_content .content-box.content_top {justify-content: flex-end; margin-bottom: 30px; animation-delay: .8s;}
.advantages_content .content-box.content_bottom {animation-delay: 1s;}
.advantages_content .content-box > div { padding: 30px; box-sizing: border-box; display: flex; align-items: center; background: #fff; border-radius: 15px; box-shadow: 0px 3px 6px #00000029;}
.advantages_content .content-box > div .img-box {width: 90px;}
.advantages_content .content-box.content_top > div .img-box {margin: 0 0 0 14px;}
.advantages_content .content-box.content_bottom > div .img-box {margin: 0 14px 0 0;}
.advantages_content .content-box > div .img-box img {width: 100%;}
.advantages_content .content-box > div .text-box strong { display: block; margin-bottom: 10px; font-size: 20px; font-family: "SharpGroteskSmBold";}
.advantages_content .content-box > div .text-box p {font-size: 16px; width: 270px; color: #555; word-break: break-word;}
.advantages_content .content-box.content_bottom > div .text-box {text-align: right;}

.whoCanDoIt {padding-top: 70px;}

.howToUse {padding: 70px 0 50px;}
.howToUse .howToUse-content {display: flex; flex-wrap: wrap; justify-items: flex-end; margin-top: 24px;}
.howToUse .howToUse-content li {width: 100%; display: flex; justify-content: flex-end; margin-bottom: 118px;}
.howToUse .howToUse-content li > div {display: flex; align-items: center;  width: 50%; transform: translateX(-26px);}
.howToUse .howToUse-content li em {position: relative; display: block; width: 50px; height: 50px; border-radius: 50%; border: 1px solid #12D294; text-align: center; font-size: 30px; line-height: 50px; font-weight: bold; border: 2px solid #12D294; box-sizing: border-box;}
.howToUse .howToUse-content li em::after {content: ""; position: absolute; left: 50%; top: 100%; transform: translateX(-50%); width: 2px; height: 120px; background: #12D294; }
.howToUse .howToUse-content li div p {font-size: 1.4rem; font-weight: bold; transform: translateY(77px);}
.howToUse .howToUse-content li:nth-child(2) {justify-content: flex-start;}
.howToUse .howToUse-content li:nth-child(2) div {justify-content: flex-end; transform: translateX(25px);}
.howToUse .howToUse-content li:nth-child(2) div em {order: 3; background-color: #12D294; color: #fff;}

.howToUse .howToUse-content li:nth-child(2) p {text-align: right;}

.wellcome { padding-bottom: 70px;}
.wellcome p { display: flex; width: 100%; justify-content: center; align-items: center; font-size: 38px; font-weight: bold; color: #777; font-family: "SharpGroteskMedium";}
.wellcome span {font-size: 48px; color: #12d294; font-family: "SharpGroteskSmBold";}
.wellcome i {display: inline-block; width: 38px; height: 41px; background: url(../images/welcome_ico.png) no-repeat left top; background-size: cover; margin-left: 20px;}


@media screen and (max-width: 768px) {
    .howToUse .howToUse-content li > div {transform: translateX(-20px);}
    .howToUse .howToUse-content li:nth-child(2) div{transform: translateX(20px);}
    .howToUse .howToUse-content li em {width: 40px; height: 40px; line-height: 40px; font-size: 24px;}
    .howToUse .howToUse-content li div p {font-size: 1.2rem;}
    .wellcome p {font-size: 24px;}
    .wellcome span {font-size: 30px;}
    .wellcome i { width: 26.6px; height: 28.7px; margin-left: 10px;}

}

@media screen and (max-width: 660px) {
    .advantages {margin-top: 0; padding-top: 70px;}
    .advantages_content .content-box > div { width: 100%; box-shadow: none; padding: 0; }
    .advantages_content .content-box > div .img-box {display: none;}
    .advantages_content .content-box > div .text-box {width: 100%;}
    .advantages_content .content-box > div .text-box strong {font-size: 16px; text-align: center;}
    .advantages_content .content-box > div .text-box p {font-size: 12px; width: auto; text-align: center;}

    .howToUse .howToUse-content li > div {transform: translateX(-20px);}
    .howToUse .howToUse-content li:nth-child(2) div{transform: translateX(20px);}
    .howToUse .howToUse-content li em {width: 40px; height: 40px; line-height: 40px; font-size: 24px;}
    .howToUse .howToUse-content li div p {font-size: 1.2rem; width: 125px;}
    /* .howToUse .howToUse-content li {justify-content: flex-start;} */
    /* .howToUse .howToUse-content li > div { width: 100%; transform: translateX(0);} */
    /* .howToUse .howToUse-content li div p {font-size: 1.6rem; } */
    /* .howToUse .howToUse-content li:nth-child(2) div {justify-content: flex-start;} */
    /* .howToUse .howToUse-content li:nth-child(2) div {transform: translateX(0)} */
    /* .howToUse .howToUse-content li:nth-child(2) div em {order: 1;} */
    /* .howToUse .howToUse-content li:nth-child(2) div p {order: 3; text-align: left;} */
}
@media screen and (max-width: 480px) {
    .advantages {padding-top: 30px;}

    .howToUse .howToUse-content li {margin-bottom: 75px;}
    .howToUse .howToUse-content li em::after {height: 77px; background: #12D294; }
    .howToUse .howToUse-content li div p {transform: translateY(56px);}
    /* .whoCanDoIt {padding-top: 0;}
    .howToUse .howToUse-content li div span {width: 30px;}
    .howToUse .howToUse-content li div p {font-size: 1.3rem;} */
    

}
